{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Start page{% endblock %}</h1>
{% endblock %}
{% block content %}
This is a webapp inspired by <a href="wikilovesinat.netlify.app">Wki Loves INaturalist app</a>. <br>
/res/[GBIF species id] urls shows CC 4.0 licensed images of a species with a specific GBIF id and links for their wikimedia commons uploads. <br>
/all/[GBIF species id] urls show all pictures of species with specific GBIF id and links for their commons uploads (links to a page where license form is set on CC4.0 and needs to be manually changed). <br>
/obs/[GBIF observation id] shows pics of an observation and links for their uploads regardless of license. <br>
<a href="https://github.com/ksledz/wikilovesgbif">Very WIP</a>, one day i will add forms here.
{% endblock %}

